openapi: 3.0.0
info:
  title: Transaction relay API
  version: 1.0.0
  description: API to get a Bitcoin deposit address for a given Yona address and relay transactions.
servers:
  - url: https://txrelay.yona.network
paths:
  /get_deposit_address:
    get:
      summary: Get Bitcoin deposit address
      description: Returns a Bitcoin address for depositing funds associated with a Yona address
      parameters:
        - in: query
          name: yona_address
          required: true
          schema:
            type: string
          description: The Yona address to get a deposit address for
          example: CgxQmREYVuwyPzHcH19iBQDtPjcHEWuzfRgWrtzepHLs
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
              example: bcrt1qgqgrfslwh5rmkvsv4uu680lm0fy7yyh5vzll0s7zsnz0npum4g4qfj5anq
        '400':
          description: Bad request (e.g., invalid Yona address)
          content:
            application/json:
              schema:
                type: string
              example: yona_address is not valid
  /relay_tx:
    post:
      summary: Relay a transaction
      description: Relays a transaction associated with a Yona address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tx_id:
                  type: string
                  description: The transaction ID to relay
                yona_address:
                  type: string
                  description: The associated Yona address
              required:
                - tx_id
                - yona_address
            example:
              tx_id: "c37b2ec12c63fc5eaa5b12220b816c5fc9305383339668b5ec3bbc3434208253"
              yona_address: "CgxQmREYVuwyPzHcH19iBQDtPjcHEWuzfRgWrtzepHLs"
      responses:
        '200':
          description: Transaction successfully relayed
          content:
            application/json:
              schema:
                type: string
              example: 2idEa74e7nTxRWpYT5YwGEMn1iUSYAo59EFt13zCJNz9VHVoJsXKkEN3nEx1dN8Z8E8Bqpg2TMp964TdrXFk5C7D
        '400':
          description: Bad request (e.g., invalid transaction ID or Yona address)
          content:
            application/json:
              schema:
                type: string
              example: tx_id is not valid
  /get_tx_state:
    get:
      summary: Get transaction state
      description: Retrieve the state of a transaction based on the provided `tx_id`.
      parameters:
        - in: query
          name: tx_id
          required: true
          schema:
            type: string
          description: The transaction ID
          example: c37b2ec12c63fc5eaa5b12220b816c5fc9305383339668b5ec3bbc3434208253
      responses:
        '200':
          description: Successful response with the state of the transaction (Relayed or NotRelayed).
          content:
            application/json:
              schema:
                type: object
                properties:
                  tx_id:
                    type: string
                    description: Provided transaction ID
                  status:
                    type: string
                    description: The status of the transaction. Relayed or NotRelayed.
                required:
                  - tx_id
                  - yona_address
              example:
                tx_id: "c37b2ec12c63fc5eaa5b12220b816c5fc9305383339668b5ec3bbc3434208253"
                status: "Relayed"
        '400':
          description: Invalid transaction ID.
          content:
            application/json:
              schema:
                type: string
                example: "tx_id is not valid"
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: string
                example: "Failed to get deposit tx state"
  /get_tx_states:
    get:
      summary: Get multiple transactions state
      description: Retrieve the state of a transactions based on the provided `tx_id`'s.
      parameters:
        - in: query
          name: tx_ids
          required: true
          schema:
            type: array
            items:
              type: string
          description: The transaction IDs
          example: [ c37b2ec12c63fc5eaa5b12220b816c5fc9305383339668b5ec3bbc3434208253, c37b2ec12c63fc5eaa5b12220b816c5fc9305383339668b5ec3bbc3434208252 ]
      responses:
        '200':
          description: Successful response with the state of the transaction (Relayed or NotRelayed).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tx_id:
                      type: string
                      description: Provided transaction ID
                    status:
                      type: string
                      description: The status of the transaction. Relayed or NotRelayed.
                  required:
                    - tx_id
                    - yona_address
                example: [
                  {
                    tx_id: "c37b2ec12c63fc5eaa5b12220b816c5fc9305383339668b5ec3bbc3434208253",
                    status: "Relayed"
                  },
                  {
                    tx_id: "c37b2ec12c63fc5eaa5b12220b816c5fc9305383339668b5ec3bbc3434208252",
                    status: "NotRelayed"
                  }
                ]

        '400':
          description: Invalid transaction ID.
          content:
            application/json:
              schema:
                type: string
                example: "tx_id is not valid"
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: string
                example: "Failed to get deposit tx state"
